.Welcome.Page {
  background-color: var(--bgclr);
  position: relative;
  z-index: 3;
}
.spacer {
  display: none;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.greeting-text h3 {
  font-size: 2em;
  font-weight: 400;
}
.greeting-text h1 {
  font-weight: 800;
  font-size: 3em;
  margin-left: -5px;
}
.greeting-text h1::after {
  content: ",";
  color: var(--accent-color);
}
.greeting p {
  font-weight: 600;
  font-size: 1.2em;
  text-align: justify;
}
.greeting {
  margin-top: 2em;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.greeting-text {
  text-align: left;
  max-width: 30em;
}

.portrait {
  max-width: 512px;
  min-width: 300px;
  border-radius: 1em;
}
.image-container {
  position: relative;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 1em;
}

.services-photo {
  border-radius: 20px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px #c3c3c3;
  image-rendering: optimizeSpeed;
}
.service-containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.Service.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5em;
  margin-top: 0.5em;
  max-width: 20em;
  height: 500px;
  font-size: 2em;
  gap: 0.5em;
}
.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
}
.accent-btn {
  font: inherit;
  /* background-color: var(--accent-color) !important; */
  /* color: var(--accent-color) !important; */
  /* color: white; */
  color: var(--clr);
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.3em 3em;
  font-weight: 500;
  font-size: 0.55em;
  cursor: pointer;
  filter: saturate(2);
}
.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5em 1em;
}
.image-label {
  font-weight: 800;
  font-size: 0.7em;
  line-height: 0.9em;
}
.image-description {
  font-size: 0.7em;
  font-weight: 400;
  text-align: justify;
}

@media (max-width: 700px) {

  .spacer {
    display: flex;
    top: -1em;
    height: 200vh;
    left: -2em;
    width: calc(100% + 2em);
  }
  .image-container {
    padding: 0.5em;
  }
  .Service.component {
    max-width: 13em;
  }
  .Service.component {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .service-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .greeting {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    height: 100%;
    font-weight: 400;
    background-color: white;
  }
  .greeting-text {
    text-align: center;
    max-width: 25em;
  }
}
