.Welcome.Page {
  background-color: var(--bgclr);
  position: relative;
}
.greeting-text h3 {
  font-size: 2em;
  font-weight: 400;
}
.greeting-text h1 {
  font-weight: 800;
  font-size: 3.5em;
  margin-left: -5px;
}
.greeting-text h1::after {
  content: ",";
  color: var(--accent-color);
}
.greeting p {
  font-weight: 600;
  font-size: 1.2em;
  text-align: justify;
}
.greeting {
  margin-top: 2em;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.greeting-text {
  text-align: left;
  max-width: 30em;
}

.portrait {
  max-width: 500px;
  min-width: 300px;
}
.image-container {
  position: relative;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0.6em;
}

.services-photo {
  border-radius: 20px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px #c3c3c3;
  image-rendering: optimizeSpeed;
}
.service-containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.Service.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5em;
  margin-top: 0.25em;
  width: 15em;
  height: 10em;
  font-size: 2em;
  gap: 0.5em;
}
.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5em;
}
.image-label {
  font-weight: 800;
  font-size: 0.75em;
}
@media (max-width: 700px) {
  .Service.component {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .service-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .greeting {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    height: 100%;
    font-weight: 400;
  }
  .greeting-text {
    text-align: center;
    max-width: 25em;
  }
}
