@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  font-family: "Comfortaa", cursive, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(43, 43, 43, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --accent-color: #cc66ad; */
  --accent-color: #fa8072;
  --accent-color2: hsl(6, 91%, 69%);

  --clr: #505050;
  --bgclr: #edeeee;
  --bgclr2: #d2d2d5;
  color: var(--clr);
}
*::selection {
  background-color: var(--accent-color);
  color: whitesmoke;
}


.neu-drop {
  background: var(--bgclr);
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px var(--bgclr2);
  outline: 1px solid #ffffffaa;
}
.neu-inner{
  background: var(--bgclr);
  box-shadow: -3px -3px 5px #ffffff inset, 3px 3px 5px var(--bgclr2) inset;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 700px) {
  :root {
    /* overflow-x: auto; */
    font-size: 12px;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
.line-through{
  text-decoration: line-through;
  text-decoration-thickness: 0.07em;
}